.spaceSideBarComponentClose {
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
  position: absolute;
  transition: all ease 500ms;
}
.spaceSideBarComponentShow {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #21212188;
  position: fixed;
  right: 0px;
  transition: all ease 500ms;
}

.sideBarHeader {
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #21212133;
  transition: all ease 500ms;
  .sideBarTitle {
    position: absolute;
    width: calc(100% - 80px);
    min-height: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #212121;
    margin: 0;
    padding: 0;
  }
  .sideBarCloseIcon {
    position: absolute;
    right: 0px;
    font-size: 36px;
    cursor: pointer;
    top: calc(50% - 18px);
  }
}
.sideBarContent {
  position: absolute;
  right: 0px;
  top: 0px;
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 450px;
  overflow: auto;
  z-index: 9999;
  background-color: #fff;
  transition: all ease 500ms;
}
.skSideBarContent {
  width: 100%;
  height: calc(100% - 150px);
  overflow: auto;
  background-color: red;
}
