.fade_in_section {
  opacity: 0;
  transform: translateY(0vh);
  visibility: hidden;
  transition: opacity 600ms ease-out, transform 600ms ease-out, visibility 600ms ease-out;
  will-change: opacity, transform, visibility;
  width: 100%;
}
.is_visible {
  transition: opacity 600ms ease-in, transform 600ms ease-in, visibility 600ms ease-in;
  opacity: 1;
  transform: none;
  visibility: visible;
  width: 100%;
}
